a {
    color: #BBB;
}

a:hover {
    color: #BBB;
}

.headerButton {
    margin: 8px 5px 8px 0;
}

.navbar-green .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-green {
    background-color: #153438;
    color: rgba(255, 255, 255, 0.5);
    font-size: 100px;
}

/* .navbarToggle {
    color: #BBB;
} */

.dropdown-menu {
    background-color: #343a40;
    padding: 0;
}

.cardsDropdownItem {
    background-color: #153438;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}

.dropdown-item:active {
    background-color: #343a40;
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-item.active {
    background-color: #343a40;
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-item:hover {
    background-color: #1f464b;
    color: #ffffff;
}

/* 
.navbarContent {
    margin: 0 auto;
    width: 80%;
} */